
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #efffeb;
}

/* Menu */
.menu{
    width: 100%;
    background-color: #1c1427;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.name{
    font-size: 30px;
}
.menu .fal{
    margin-right: 50px;  
    color: whitesmoke;
    font-size: 40px;
    padding: 0px;
    margin-left: 80px;
}
.acount{
    display: flex;
}
.sign-up{
    color: #7eca9c;
    margin-left: 10px;
    margin-top: 20px;
    cursor: pointer;
}
/* .menu p{
    font-size: 20px;
    color: white;
    
} */
.menu .name{
    margin-left: 50px;
    color: white;
    font-size: 50px;
}
.search input{
    padding: 9px;
    margin-right: 10px;
    width: 500px;
    border-radius: 8px;
    height: 50px;
    font-size: 20px;
}
.search{
    height: 50px;
    display: flex;
    align-items: center;
}

/* .icon{
    height: 50px;
    width: 5%;
    font-size: 40px;
    margin-top: 27px;
    background-color: #7eca9c;
} */

.text{
    margin-left: 10px;
}
.far{
    color: whitesmoke;
    padding: 9px;
    font-size: 30px;
    background-color: #7eca9c;
    border-radius: 10px;
    cursor: pointer;
}

/* glow */
.glow {
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ccffbd, 0 0 40px #ccffbd, 0 0 50px #ccffbd, 0 0 60px #ccffbd, 0 0 70px #ccffbd;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #7eca9c, 0 0 40px #7eca9c, 0 0 50px #7eca9c, 0 0 60px #7eca9c, 0 0 70px #7eca9c, 0 0 80px #7eca9c;
    }
  }

/* Container */
.container{
    background-color: #f2f2f2;
}
.row{
    justify-content: space-around;
}
.card{
    padding-top: 10px;
    box-shadow: 3px 3px 3px #e0e0e0;
}
.card:hover{
    border: 3px solid #7eca9c;
}
.card_img{
    width: 300px;
    height: 300px;
}
.product{
    display: flex;
}
.modal p{
    font-size: 20px;
}
.body-left{
    width: 20%;
    margin-top: 20px;
    padding-bottom: 100px;
}
.body-right{
    width: 80%;
    margin-top: 20px;
    padding-bottom: 100px;
}
.container .product .body-left i{
    background: none;
    color: #40394a;
    font-size: 30px;
}
.category{
    font-size: 25px;
    margin-top: 20px;
}
.check_Box{
    margin-top: 10px;
}
.funds{
    width: 100px;
    height: 40px;
    border-radius: 5px;
}
.apply{
    width: 204px;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    font-size: 22px;
    color: whitesmoke;
    background-color: #7eca9c;
    margin-bottom: 100px;
}
.apply:hover{
    background-color: #6dbf8d;
}

.more{
    
}



/*FOOTER */
/* Footer */
.footer{
    background-color: #7eca9c;
    width: 100%;
    height: 400px;

}
.back-to-top{
    width: 100%;
    height: 40px;
    background-color: #86d1a4;
    border: none;
    text-align: center;
    color: whitesmoke;
}

.back-to-top:hover{
    background-color: #8de0af;
}
/* footer left */
.footer-left{
    width: 50%;
    margin-top: 80px;
    margin-left: 300px;
}
.child img{
    width: 60px;
    height: 60px;
}
.child{
    display: flex;
}
.child p{
    margin-top: 13px;
    font-size: 25px;
    margin-left: 20px;
    color: #40394a;
    font-weight: 750;
}
.all-icon{
    display: flex;
}

/* footer right */
.footer-right{
    width: 50%;
    margin-top: 80px;
    margin-left: 200px;
}
.footer-right p{
    font-size: 25px;
    font-weight: 600;
}


/* MODAL */
.modal-body{
    display: flex;
}
