*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #efffeb;
}

/* Menu */
.menu{
    width: 100%;
    background-color: #1c1427;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.name{
    font-size: 30px;
}
.menu .fal{
    margin-right: 50px;  
    color: whitesmoke;
    font-size: 40px;
    padding: 0px;
    margin-left: 80px;
}
.acount{
    display: flex;
}
/* .menu p{
    font-size: 20px;
    color: white;
    
} */
.menu .name{
    margin-left: 50px;
}
.search input{
    padding: 9px;
    margin-right: 10px;
    width: 500px;
    border-radius: 8px;
}
.search{
    height: 50px;
    display: flex;
    align-items: center;
}

/* .icon{
    height: 50px;
    width: 5%;
    font-size: 40px;
    margin-top: 27px;
    background-color: #7eca9c;
} */

.text{
    margin-left: 10px;
}
.far{
    color: whitesmoke;
    padding: 9px;
    font-size: 30px;
    background-color: #7eca9c;
    border-radius: 10px;
}